<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forms</title>
</head>
<body>
    <form action="#" method="post" enctype="multipart/form-data">
        <div>
            <label for="Date_range"> С </label>
            <input type="date" id="start" name="trip-start" value="2018-01-01"
            min="2018-01-01" max="31-12-2022">

            <label for="Date_range"> по </label>
            <input type="date" id="end" name="trip-end" value="2022-12-31"
            min="2018-01-01" max="2022-12-31">

            <button type="submit">SHOW</button>
        </div>
    </form>


</body>
</html>